header{
   background-image:url(https://i.imgur.com/DawRNoP.jpg);
   background-repeat:no-repeat;
   font: size 50%;
   font-weight: bold;
   background-position:20%;
   background-size:cover;
   width:100%;
   height: 250px;

}
 header{ 
display: flex;
justify-content: center;
 }
 /* Il faut que je face de l'espace sur ma bar de navigation */
 
 nav a{
    font: 30%;
 }
     